@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
p {
  margin: 0;
  padding: 0;
}
button {
  background-color: #fff;
  border: none;
}
/* 레이아웃 */
body {
  background-color: #eae8fe;
}
/* 헤더 레이아웃 */
.header {
  text-align: center;
  margin-bottom: 67px;
}
.header > img {
  width: 386px;
}
.vending-machine,
.container-mypage {
  width: 360px;
  box-sizing: border-box;
}

/* 품절 레이아웃 */
.soldout {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
/* 메인 레이아웃 */
.main {
  margin: 0 auto 100px;
  width: 748px;
}
.main::after {
  content: "";
  display: block;
  clear: both;
}
.main .vending-machine {
  width: 360px;
  float: left;
  padding: 28px 27px;
  margin-right: 28px;
  background-color: white;
}

.menu {
  width: 306px;
  height: 276px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.menu button {
  display: flex;
  width: 94px;
  height: 130px;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  padding-top: 11px;
  padding-bottom: 9px;
  flex-direction: column;
  align-items: center;
}
.menu button:hover {
  outline: 3px solid #6327FE;
  border-radius: 10px;
}
.menu-items {
  width: 36px;
  height: 65px;
}
.menu-name {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  margin: 2px auto 7px;
}
.menu-price {
  width: 70px;
  box-sizing: border-box;
  background: #6327FE;
  border-radius: 50px;
  color: #fff;
  padding: 5px 16px 5px 15px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}

.vending-machine-bottom-side div+div {
  margin-top: 12px;
}
.now-money, .input-money-box, .my-picked-cola-cart {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 200px;
  height: 33px;
  border-radius: 5px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  box-sizing: border-box;
}
.left-money, .cola-cart {
  background: #EAE8FE;
}
.left-money {
  padding: 0 10px 0;
}
.input-money-text{
  padding-left: 6px;
  border: 1px solid #BDBDBD;
  color: #BDBDBD;
}
.left-money span {
  margin-top: 6px;
}
.cola-cart {
  overflow-y: scroll;
  height: 106px;
  padding: 12px;
  border: 1px solid #BDBDBD;
}

/* colacart 스크롤 디자인 */
.cola-cart::-webkit-scrollbar {
  width: 8px;
}
.cola-cart::-webkit-scrollbar-thumb {
  width: 4px;
  height: 79px;
  border-right: 4px solid #EAE8FE ; 
  border-radius: 50px;
  background-color: #FFFFFF;
}
.cola-cart::-webkit-scrollbar-track {
  background-color: transparent;
}

.right {
  width: 94px;
  height: 32px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.change-return, .input-money-button {
  background: #FFFFFF;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  font-size: 13px;
  color: #000;
}
.get {
  height: 106px;
  background: #6327FE;
  color: #fff;
}


.main .container-mypage {
  float: left;
  background-color: #EAE8FE;
}
.mypage-my-money, .mypage-my-bag {
  padding: 9px 27px;
}
.main .mypage-my-money {
  background-color: white;
  float: left;
  margin-bottom: 20px;
}
.my-pocket-money-text {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  float: left;
}
.my-pocket-money {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  float: right;
}
.my-money-box, .my-bag-contents {
  box-sizing: border-box;
  width: 306px;
  margin: 0 auto;
  background: #EAE8FE;
  border-radius: 5px;
  float: left;
}
.my-money-box {
  padding: 6px 10px;
}
.left-money-text{
  float: left;
}
.left-money-money {
  float: right; 
}

.mypage-my-bag {
  box-sizing: border-box;
  background-color: white;
  float: left;
  padding-top: 25px;
  padding-bottom: 30px;
  text-align: center;
}
.mypage-my-bag h2 {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.my-bag-contents {
  height: 364px;
  margin-top: 13px;
  border: 1px solid #BDBDBD;
  padding: 12px;
  overflow-y: scroll;
}
.my-bag-contents::-webkit-scrollbar {
  width: 8px;
}
.my-bag-contents::-webkit-scrollbar-thumb {
  width: 4px;
  height: 79px;
  border-right: 4px solid #EAE8FE ; 
  border-radius: 50px;
  background-color: #FFFFFF;
}
.my-bag-contents::-webkit-scrollbar-track {
  background-color: transparent;
}

.picked-cola {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  background-color: #fff;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 6px;
  border-radius: 5px;
}
.picked-cola-img {
  width: 18px;
  height: 33px;
  margin-top: 7px;
  float: left;
}
.picked-cola-name {
  float: left;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  margin-top: 18px;
  margin-left: 10px;
}
.cola-quantity {
  float: right;
  padding: 4px 11px 6px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  margin: 8px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.total-money {
  float: right;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  margin-top: 6px;
}